:root {
    /* Colors */
    --whitish: #f9faf8;
    --whitish-still: #e5e7eb;
    --darkish: #1f2937;
    --greyish: #5f6874;
    --primary: #3882F6;

    /* Font-sizes */
    --navlogo-size: 24px;
    --navlink-size: 18px;

    --bighero-size: 48px;
    --smallhero-size:18px;

    --bigrandom-size: 36px;

    --bigquote-size: 36px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* NAVBARS */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--darkish);
}
.navlogo {
    font-size: var(--navlogo-size);
    color: goldenrod;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.nav-image {
    height: 148px;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    list-style-type: none;
}

.navlinks > li > a {
    text-decoration: none;
    font-size: var(--navlink-size);
    color: var(--whitish-still);
}
/* NAVBARS */

/* HEROS */
.hero {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--darkish);
    padding: 160px 190px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 60px;
    
}
.hero-main-text {
    font-size: var(--bighero-size);
    color: var(--whitish);
    font-weight: 900;
}
.hero-secondary-text {
    font-size: var(--smallhero-size);
    color: var(--whitish-still);
}

.btn {
    background-color: var(--primary);
    border-radius: 7px;
    border: solid 1px var(--primary);
    padding: 7px 40px;

    color: white;
    font-weight: 600;
    text-align: center;
    
    max-width: 80px;
    text-decoration: none;

}

.hero-left > .btn {
    max-width: 200px;
}

.hero-image {
    width: 480px;
    height: 248px;
}
/* HEROS */

/* RANDOMS */
.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}
.random-boxes {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}
.random-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    list-style-type: none;
    
    width: 142px;
    padding: 0 15px;
}
.random > .random-header {
    color: var(--darkish);
    font-size: var(--bigrandom-size);
    font-weight: 900;
}
.random-box > li > img {
    width: 142px;
    height: 142px;

    border: 5px solid var(--primary);
    border-radius: 15px;
}
.random-box > .random-text {
    text-align: center;
    color: var(--greyish);
    font-weight: 400;
}
/* RANDOMS */

/* QUOTES */
.quote {
    background-color: var(--whitish-still);
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.quote > blockquote {
    font-size: var(--bigquote-size);
    font-style: italic;
    font-weight: lighter;

    width: 56%;
    margin-bottom: 0;
}
.quote > .author {
    display: flex;
    flex-direction: row-reverse;

    width: 56%;
}
/* QUOTES */

/*CALL-ACTION*/
.call-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 76px;
}

.blue-box {
    display: flex;
    gap: 90px;

    background-color: var(--primary);
    padding: 40px 90px;

    border-radius: 10px;
    
}
.blue-box > .btn {
    color: white;
    border: 1px solid white;
}

.action-desc {
    display: flex;
    flex-direction: column;
}
.action-desc > h3, p {
    margin: 0;
    color: var(--whitish-still);
}

.action-desc > p {
    font-weight: lighter;
    color: var(--whitish-still);
}
/*CALL-ACTION*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--darkish);
    color: var(--whitish);
    font-weight: lighter;
    padding: 30px;
}